body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  transition: .2s;
}

.input-btn{
  display: none;
}

.label{
  width: 80px;
  height: 40px;
  background-color: rgb(197, 197, 199);
  position: relative;
  border-radius: 20px;
  transition: 0.2s;
}

.circle{
  width: 34px;
  height: 34px;
  background-color: white;
  position: absolute;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  animation: toggleOff .25s linear forwards;
  transition: .2s;
}

.input-btn:checked + .label .circle{
  animation: toggleOn .25s linear forwards;
}

@keyframes toggleOn {
  0%{
    left: 0;
  }

  100%{
    left: 42px;
  }
}

@keyframes toggleOff {
  0%{
    left: 42px;
  }

  100%{
    left: 3px;
  }
}