body{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color:antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550; 
}

.calculator{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 370px;
  background-color:#3A4F7A;
  text-align: center;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 6px 15px rgba(56, 50, 50, 0.8);
  padding: 3px;
  font-size: 18px;
  color: #000000;
}

.calculator div{
  width: 50px;
  height: 50px;
  background-color:#E2E8F0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  color:#0F172A;
  transition: filter 0.25s;
}

.calculator div:hover{
  filter: brightness(1.1);
}

.calculator .display-contain{
  grid-column-start: 1;
  grid-column-end: 5;
  flex: 1;
  background-color: transparent;
  margin-bottom: 4px;
}

.display-box{
  border: none;
  padding: 10px;
  border-radius: 3px;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 20px;
  width: 200px;
  background-color:#F1F5F9;
  color: #0F172A;
}

.calculator .equal-btn{
  grid-column-start: 3;
  grid-column-end: 5;
  width: 95%;
  border-radius: 20px;
  background-color: #22C55E;
}

.calculator .ac-btn{
  background-color: #EF4444;
}
.calculator .delete-btn,
.calculator .minus-btn,
.calculator .plus-btn,
.calculator .multiply-btn,
.calculator .division-btn,
.calculator .percent-btn{
  background-color: #38BDF8;
}
