body{
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  background-color: brown;
  box-sizing: border-box;
}

.image-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-container img{
  width: 200px;
  margin: 10px;
  background-color: antiquewhite;
  border-radius: 5px;
  transition: filter,box-shadow,0.2s;
}

.image-container img:hover{
  filter: brightness(1.1);
  box-shadow: 1px 4px 8px rgba(0,0,0,0.7);
}


.load-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.load-btn{
  background-color: cadetblue;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 0px 4px 7px rgba(0,0,0,0.7);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.load-btn:hover{
  filter: brightness(0.9);
}

