*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('images/nature-background.jpg');
  background-size :cover;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h2{
  text-align: center;
  letter-spacing: 4px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(255, 255, 255);
  text-shadow: 4px 4px 6px rgba(16, 15, 15, 0.5);
  text-transform: uppercase;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  background-color: rgba(30, 29, 29, 0.45);
  width: 100px;
  height: 120px;
  font-size: 50px;
  border-radius: 5px;
  color: antiquewhite;
  box-shadow: 0 4px 5px rgba(255,255,255,0.2);
}

.hours-text,
.minutes-text,
.seconds-text{
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.clock .ampm-contain{
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 65px;
}

.ampm{
  font-size: 25px;
  text-transform: uppercase;
}


