body{
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(155, 62, 243);
}

.calender-container{
  background-color: white;
  width: 300px;
  overflow: hidden;
  border-radius: 7px;
  font-family: cursive;
}


.month-name{
  background-color: rgb(248, 52, 52);
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  margin: 0;
}


.day-name{
  color: rgb(93, 87, 87);
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}

.date{
  text-align: center;
  font-size: 40px;
}

.year{
  text-align: center;
  color: rgb(93, 87, 87);
}