body{
  height: 100vh;
  background-color: black;
  overflow: hidden;
}


span{
  width: 30px;
  height: 30px;
  background-image: url('images/heart.png');
  position: absolute;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
  animation: animate 3s;
}

@keyframes animate {
  0%{
    transform: translate(-50%,-50%);
    opacity: 1;
    filter: hue-rotate(0);
  }
  
  30%{
    opacity: 0.4;
    filter: hue-rotate(320deg);
  }

  100%{
    transform: translate(-50%,-5000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}