*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: cadetblue;
}

.container{
  background-color: rgb(239, 36, 36);
  padding: 10px;
  width: 400px;
  height: 200px;
  border-radius: 6px;
  color: white;
  font-family : Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.character-info-container{
  display: flex;
  justify-content: space-between;
}

.input-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 40px;
}

.input-box{
  resize: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
  height: 70px;
  width: 100%;
  font-family: cursive;
}

